apiVersion: v1
kind: Service
metadata:
  name: golang-minikube-service
  namespace: dev
spec:
  type: NodePort
  selector:
    app: golang-minikube
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30007
